/*html, body {width: 100%;}*/

body {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	  color: #777777;
	  height: 100%;}

h2 {font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 20pt;
	font-weight: bold;}


h3{font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 14pt;
	font-weight: bold;
	color: #4aaaa5;}	

a {text-decoration: none;}


#label {margin-top: 5px;}

textarea {width: 95%;
		  border: 2px solid #F5F5F5;
		  margin-top: 10px;}

input {border: 2px solid #F5F5F5;
	   width: 95%;
	   padding: 10px;
	   margin-top: 10px;
	   margin-bottom: 20px;}

button {background-color: #4aaaa5;
		color: #FFF;
		border: none;
		padding: 10px 30px;
		margin-top: 10px;}	   

div#container {width: 1100px;
			   height: 100%;}

div#heading {border-bottom: 2px solid #CFCFCF;
			 background-color: #FFF;}

div#name {background-color: #4aaaa5;
		  color: #FFF;
		  padding: 20px;
		  width: 150px;
		  position: relative;
		  top: 35px;
		  left: 100px;}

div#nav {color: #C3D3E3;
		 position: relative;
		 left: 500px;
		 width: 300px;
		 bottom: 25px;}

div#nav ul {width: 300px;}

div#nav ul li {display: inline-block;}					 

div#nav ul li a{list-style-type: none;
				display: inline-block;
			    padding: 10px;}

div#nav a {color: #777777;}	

div#nav a:visited {color: #777777;}	

div#nav li a:hover {background-color: #777777;
				 color: #FFF;
				 padding: 10px;}

div#content	{background-image: url('../images/dark_embroidery.png');
			 padding-bottom: 100px;}

div#mc_container {background-color: #FFF;
				  width: 648px;
				  position: relative;
				  left: 5%;
				  top: 45px;
				  border: 1px solid #dddddd;
				  overflow: auto;}

div#main_content {margin: 30px;}				  

h2#title {border-bottom: 3px solid #dddddd;
		  padding-bottom: 25px;
		  padding-top:20px;
		  color: #4aaaa5;}

div#text {margin-top: 30px;}

img#Crystal {float: left;
			 padding-right: 25px;
			 padding-bottom: 15px;}

p#aboutMe {line-height: 2;}			 		  

div#social_media {background-color: #FFF;
				  width: 268px;
				  border: 1px solid #dddddd;
				  position: absolute;
  				  bottom: 59%;
  				  left: 44%;}

div#sm_content {width: 80%;
				margin: 20px auto;}				  

h3#sm_title {border-bottom: 3px solid #dddddd;
			 padding-bottom: 25px;
			 margin: 0 auto;}

div#social_media ul {margin-top: 20px;}					 

div#social_media ul li {display: inline-block;}

div#inputs {margin-top: 20px;}

div#footer {background-color: #666666;
			padding-top: 35px;
			padding-bottom: 35px;
			border-top: 8px solid #4aaaa5;}

p#foot_text {color: #FFF;
			 text-align: center;}

div.img_container {float: left;
				   margin-top: 30px;}

div.img_desc {background-color: #4aaaa5;
			  text-align: center;
			  color: #FFF;
			  width: 278px;
			  font-family: 'Georgia', Times, 'Times New Roman', serif;
			  padding-top: 15px;
			  padding-bottom: 15px;
			  position: relative;
			  bottom: 55px;}


